.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(191, 220, 150);
    flex-direction: row;
}
.box{
    width: 550px;
    height: 400px;
    background-color: blue;
    margin: 10px;
}
.box1{
    background-color: rgb(118, 210, 210);
    height: 50px;
    width: 50px;
}
.box2
{
    background-color: rgb(106, 190, 162);
    height: 50px;
    width: 50px;
}
.box3{
    background-color: rgb(208, 208, 127);
    height: 50px;
    width: 50px;
}
.box4{
    background-color: rgb(63, 93, 99);
    height: 50px;
    width: 50px;
}
.box5{
    background-color: beige;
    height: 50px;
    width: 50px;
}